{% extends 'admin.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SmartHealth\Admin</title>
    <style>
        table {
                border-collapse: collapse;
                width: 30%;
               }

                th, td {
                 text-align: center;
                padding: 10px;
                }

                tr:nth-child(even) {background-color: #C8EEF3;}
                }
    </style>
</head>
<body>
    <form method="post" action="{% url 'adddist' %}">
        {% csrf_token %}
        <h1 align="center"><i>Add District</i></h1>
        <br/>
        <table align="center">
            <tr>
                <th>State</th>
                <td><select name="state">
                    <option value="0">--Select--</option>
                    {% for i in k %}
                    <option value="{{i.id}}">{{i.State}}</option>
                    {% endfor %}
                </select> </td>
            </tr>
            <tr>
                <th>District</th>
                <td><input type="text" name="dist"></td>
            </tr>
            <tr>
                <th></th>
                <td><input type="submit" value=" Add "></td>
            </tr>
        </table>
    </form>
</body>
</html>
{% endblock %}